
html,
body,
#react-root {
  height: 100%;
}

body {
  font-family:sans-serif;
  margin: 0px;
}

img {
  display: inline-block;
  max-width: 100%;
}
 

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */
.navbar {
  width: 100%;

}
.Container{
  justify-content: center;
  text-align: center;
  padding: 20px;
}
.loginContainer  {
  background-color: #4f5d75;
  justify-content: left;
  text-align: left;
}

.about-section {
  box-sizing: border-box;
  background-color: #ffffff;
  color: #2d3142;
  justify-content: space-evenly;
  text-align: justify;
  box-shadow: 5px 5px 5px 5px #2d3142;
  padding: 100px;
  border: 3px solid #ef8354;
  font-size:large;
  font-style:normal;
  margin-left: 200px;
  margin-right: 200px;
  


}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */


.btn:hover {
  background-color: #ef8354;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
  background-color: #2d3142;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #ef8354;
  color: #ef8354;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #ef8354;
  background-color: #ced0ce;
  border-radius: 3px;
  color: #ef8354;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 50px;
  margin: 0 auto 10px;
  background-color: #BFC0C0;
  border: 3px solid #ef8354;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px #2d3142;
  justify-content: center;
  text-align: center;
  
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

.carousel .carousel-item {
  height: 400px;
  width: 400px;
}

.carousel-item img {
    position: absolute;
    object-fit:contain;
    top: 0;
    left: 0;
    max-height: 500px;
}

.activity-list {
  justify-content: center;
  position: sticky;
  display: flexbox;
  flex-direction: column;
  min-width: 250px;
  word-wrap: break-word;
  color: #2d3142;
  background-color: #FFFFFF;
  background-clip: border-box;
  border: 2px solid #2d3142;
  border-radius: 0.25rem;
  padding: 5px;
  margin: 25px;
  column-count: 4;
  column-width: 200px;
  max-width: 200px;
  min-height: 200px;
  text-align: center;

}

.activity-title {
  background-color: #2d3142;
  font-size: larger;
  text-align: center;
  color: #FFFFFF;
  height: 55px;
  align-items: center;
  padding-top: 2px;
  align-items: center;
}

.activity-body {
  background-color: #ffffff;
  color: #2d3142;
  text-align: center;
}

.activity-footer {
  background-color: #2d3142;
  color: #FFFFFF;
  height: 35px;
  text-align: center;
  padding: 5px;
}
.activity-name {
  color: #ef8354;
font-style: oblique;
font-weight: bolder;
}