
html,
body,
#react-root {
  height: 100%;
}
footer {
  justify-content: left;
}

body {
  background-color: #e8e5cf;
  font-family:muli;
  margin: 0px;
}

img {
  display: inline-block;
  max-width: 100%;
}
 

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  background-color: #BFC0C0;
  justify-content: center;
  text-align: center;
  padding: 20px;
}
.logincontainer {
  background-color: #bfc0c0;
  justify-content: left;
  text-align: left;
}

.about-section {
  background-color: #BFC0C0;
  color: #373f51;

}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 20px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #326273;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #326273;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #326273;
  color: #326273;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #ced0ce;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 100px;
  margin: 0 auto 20px;
  background-color: #BFC0C0;
  border-radius: 20px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
  
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

.carousel .carousel-item {
  height: 300px;
}

.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 300px;
}

#activity-list {
  justify-content: center;
  position: sticky;
  display: flexbox;
  flex-direction: column;
  min-width: 250px;
  word-wrap: break-word;
  color: #373f51;
  background-color: #f8f9fa;
  background-clip: border-box;
  border: 2px solid #373f51;
  border-radius: 0.25rem;
  padding: 5px;
  margin: 25px;
  column-count: 4;
  column-width: 200px;
  max-width: 200px;
  min-height: 200px;
  text-align: center;
  
} 
.activity-title, .card-title {
  text-align: center;
}