.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;

  margin: 0 0 30px;
  background-color:#373f51;
  overflow: hidden;
}
h3 {
  text-align: center;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-family: 'Syncopate', sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #FAFAFA;
  padding-left: 10px;
  padding-bottom: 100px;
  margin: 0;
}

.navLink {
  display: inline-block;
  color: #FAFAFA;
  background-color: #373f51;
  text-align: right;
  padding: 50px 10px;
  margin-top: 70px;
  text-decoration: none;
  font-size: 20px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #373f51;
  color: #ffe066
}
