.navbar {
  width: 100%;

}
.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  width: 100%;
  background-color:#2d3142;
  overflow: hidden;
}

h3 {
  text-align: center;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-family: 'Syncopate', sans-serif;
  font-size: 65px;
  font-weight: 700;
  color: #FAFAFA;
  padding-left: 10px;
  padding-bottom: 100px;
  margin: 0;
}

.navLink {
  display: inline-block;
  color: #FAFAFA;
  background-color: #2d3142;
  text-align: right;
  padding: 50px 10px;
  padding-top: 100px;
  text-decoration: none;
  font-size: 20px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #2d3142;
  color: #ef8354
}
