.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;

  margin: 0 0 30px;
  background-color: #555B6E;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 45px;
  font-weight: 700;
  color: #FFD6BA;
  padding-left: 10px;
  padding-top: 45px;  
  margin: 0;
}

.navLink {
  display: inline-block;
  color: #FFD6BA;
  background-color: #555B6E;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 20px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #555B6E;
}
